:root[data-theme="dark"] {
    --theme: rgb(30, 18, 8);
    --entry: rgb(50, 46, 43);
    --primary: rgb(240, 230, 210);
    --secondary: rgb(196, 180, 154);
    --tertiary: rgb(75, 70, 65);
    --content: rgb(230, 218, 196);
    --code-block-bg: rgb(38, 24, 10);
    --code-bg: rgb(55, 38, 18);
    --border: rgb(75, 70, 65);
}
